#header{
    border-style:dotted;
    border-color:peru;
    width:auto;
    height:4vh;
    display:flex;
    align-items:center;
    margin-bottom:2%;
    #logo{
       position:absolute;
       left:10%;
       width:20%;
    }  
    input{
    position:relative;
    left:40%;
     display:flex;
     width:20%;
     height:50%;
    }
    ::placeholder{
        position:relative;
        left:40%
    }
    #navBar{
      position:absolute;
        left:75%;
        width:15%;
        display:flex;
        border-style:dotted;
        
        div{
        width:20%;
        display:flex;
        justify-content:center;
        }
    }
}
